name: "GSJ Energia Browser Login"
version: "0.2.0"
slug: "gsj_browser"
description: "Headless browser (Playwright) for automatic login to GSJ Energia"
arch:
  - amd64
  - aarch64
  - armv7
startup: services
boot: auto
init: false
ports:
  8124/tcp: 8124
options:
  username: ""
  password: ""
schema:
  username: str
  password: password
